body {
	padding: 50px;
	font-family: Helvetica;
}

span.demoo_tip {
	position: absolute;
	top: 0;
	left: 10px;
	
	/* whatever style you want */
	background: #fff;
	color: #565656;
	width: 260px;
	text-align: left;
	font-size: .8em;
	padding: 14px;
	border: solid 5px #3F3F3F;
	border-radius: 3px;
}

span.demoo_slice {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	background: #000;
}

span.demoo_outline {
	z-index: 10;
	position: absolute;
	top: -10px;
	left: 10px;

	/* whatever style you want */
	border: solid 5px #FFE132;
	margin: -5px 0 0 -5px;
	box-shadow: 0px 2px 4px #909090;
	border-radius: 3px;
}
