ul.demoo_nav {
	position: fixed;
	top: 10px;
	right: 10px;
	width: 130px;
	padding: 0;
	margin: 0;
	list-style: none;
}

	ul.demoo_nav li {
		padding: 0;
		margin: 0 5px 0 0;
		list-style: none;
		float: left;
		
	}
	
	ul.demoo_nav a {
		display: block;
		padding: 12px;
		text-align: center;
		width: 12px;
		background: #333;
		color: #fff;
		text-transform: uppercase;
		font-size: 11px;
		font-family: 'Lucida Grande';
		text-decoration: none;
		-moz-border-radius: 6px;
		font-weight: bold;
	}
	
	ul.demoo_nav a:hover {
		background: #fff;
		color: #333;
	}

span.demoo_tip {
	position: absolute;
	top: 0;
	left: 10px;
	
	/* whatever style you want */
	background: #fff;
	color: #333;
	width: 260px;
	text-align: left;
	font-size: 11px;
	padding: 10px;
	font-family: 'Lucida Grande', sans-serif;
	border-radius: 5px;
}

span.demoo_slice {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	background: #000;
}

span.demoo_outline {
	z-index: 10;
	position: absolute;
	top: -10px;
	left: 10px;
	background: rgba(255, 255, 255, 0.3);

	/* whatever style you want */
	border: solid 5px #FFDA3E;
	margin: -5px 0 0 -5px;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
	border-radius: 5px;
}
