body {
	padding: 50px;
	font-family: Helvetica;
	background: url(bg.png) 50% 0 no-repeat;
}

.tourjs_tip {
	position: absolute;
	top: 0;
	left: 10px;
	
	/* whatever style you want */
	background: #fff;
	color: #565656;
	width: 260px;
	text-align: left;
	font-size: .8em;
	padding: 14px;
	border: solid 5px #3F3F3F;
	border-radius: 3px;
}

.tourjs_slice {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	background: #3F3F3F;
}

.tourjs_outline {
	z-index: 10;
	position: absolute;
	top: -10px;
	left: 10px;

	/* whatever style you want */
	border: solid 5px #FFCF27;
	margin: -5px 0 0 -5px;
	box-shadow: 0 0 20px #3F3F3F;
	border-radius: 3px;
}
